 <!-- Gitalk comment start  -->

 <!-- Link Gitalk  -->
 <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
 <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
 <div id="gitalk-container"></div>
 <script type="text/javascript">
     var gitalk = new Gitalk({

     // Gitalk parameters
         clientID: 'Ov23lih2cc8f1aHtGLjW', //customize
         clientSecret: '4d6d5421aadea5bb5f278b6e2687474eec22bf95', //customize
         repo: 'realmtai.github.io', //customize
         owner: 'realmtai', //customize
         admin: ['realmtai'], //customize
         id: window.location.pathname, // leave this line as it is

     });
     gitalk.render('gitalk-container');
 </script>
 <!-- Gitalk end -->
